@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

hr {
  background-color: white;
  height: 1px;
  border: 0;
}

header {
  @apply mt-2;
}

body {
  @apply bg-carbon-900;
  @apply text-white;
}

.underlined-link {
  @apply inline-block;
  @apply transition-colors;
  @apply ease-in-out;
  @apply duration-300;
  @apply border-b;
  @apply border-transparent;
  @apply hover:border-white;
}
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}