@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Inter:wght@700&display=swap');

hr {
  background-color: white;
  height: 1px;
  border: 0;
}

header {
  @apply mt-2;
}

body {
  @apply bg-carbon-900 text-white;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @apply bg-carbon-700;
}

::-webkit-scrollbar-thumb {
  @apply bg-carbon-600;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-carbon-500;
}

.cm-editor {
  height: auto;
}
.cm-editor .cm-content,
.cm-editor .cm-gutter {
  min-height: 200px;
}
